<% content_for :title, "Editing Profile for #{@profile.username}" %>

<div class="container">
  <h1>Editing Profile</h1>
  
  <%= render 'form', {profile: @profile} %>
  
  <%= link_to 'User Profile', profile_path(@profile.username) %> |
  <%= link_to 'Back', :back %>
</div>
