<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_profile_path(@profile.username) %> |
<%= link_to 'Back', profile_path(@profile.username) %>

<br>
<%= link_to "#{@profile.username}'s Characters", user_characters_path(@profile.username) %>