<div class="container mt-3">
  <%= simple_form_for([ @profile, @profile.comments.build ]) do |f| %>
    <%= f.error_notification %>
    <%= f.input :body, label: 'Add new Comment', hint: 'Max 500 characters.' %>
    <%= f.button :submit, class: 'btn btn-outline-dark my-3 profile-edit' %>
  <% end %>
</div>