<% content_for :title, "Folklore | Explore the rich backstories of D&D Characters" %>

<div class="container">
  <h1>Folklore</h1>
  <p><span><i class="fas fa-book" role="img" aria-label="Icon"></i></span> Bringing you the rich histories of the folk of the land</p>
  
  <div class="container">
    <%= render partial: "characters/character_cards", locals: {characters: @characters, backstory: true} %>
  </div>
</div>