<% content_for :title, "Folklore | Explore the rich backstories of D&D Characters" %>

<h1>Folklore</h1> <i class="fas fa-book" role="img" aria-label="Icon"></i>
<p>Bringing you the rich histories of the folk of the land</p>

<%= render partial: "characters/character_cards", locals: {characters: @characters, backstory: true} %>