<section>
  <h1>About us</h1>
  <p><strong>Character Archiver</strong> is a website created by theIanMilan.
  It was created primarily to serve as a repository of readily viewable
  D&D Characters. Often when making my own character's backstories, I
  take inspiration from characters I've seen in novels, movies, or games.
  But that wasn't enough. I wanted to see how other D&D players made
  backstories for their characters but couldn't find websites for it.</p>
  
  <p>So I thought "Why not make one?". The rest that followed evolved
  into the website you see today :- &#41;.</p>
</section>

<section>
  <h1>Acknowledgements<h1>

  <h6>Images:</h6>
  <p>"unknown human picture" used as Charcater Sillhouette by Badrelmers / <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC BY-SA 4.0</a>, <a src="https://en.wikipedia.org/wiki/File:Unknown-human-picture.png">via Wikimedia Commons</a></p>
  <p>"red dragon action figure on table photo" used as Image in Home page by <a href="https://unsplash.com/@clintbustrillos">Clint Bustrillos</a> on <a href="https://unsplash.com/">Unsplash</a></p>
</section>

<section>
  <h1>Legal Information</h1>
  <p>Character Archiver is unofficial Fan Content permitted under 
  the Fan Content Policy and claims no ownership of any intellectual property associated with Wizards.
  This website is not approved or endorsed by Wizards. Portions of the materials used are property of Wizards 
  of the Coast by use of the <%= link_to 'Open Gaming License version 1.0a', open_gaming_license_path %>.
  © Wizards of the Coast LLC.</p>

  <p>Character Archiver is 2021 © Copyright Ian Mandap (theIanMilan), All Rights Reserved.</p>
</section>