<section class="container">
  <p>Welcome to the land of the Archivist!</p>
  <i class="fas fa-scroll" role="img" aria-label="Icon"></i>
  <i class="fas fa-feather-alt" role="img" aria-label="Icon"></i>
</section>