<% content_for :title, "Editing Character" %>

<div class="container">
  <h1>Editing Character</h1>
  
  <%= render 'form', character: @character %>
</div>

<%= link_to 'Show', @character %> |
<%= link_to 'Back', :back %>
