<% content_for :title, "Character listing | Character Archiver" %>

<div class="container">
  <h1>Characters</h1>

  <p>
    <i class="fas fa-campground" role="img" aria-label="Icon"></i>
    <%= link_to 'Create New Character', new_character_path %>
  </p>
  
  <br>
  
  <div class="row row-cols-lg-2 g-4">
    <%= render partial: "character_cards", locals: {characters: @characters} %>
  </div>
</div>
