<h1>Characters</h1> 
<i class="fas fa-campground" role="img" aria-label="Icon"></i>

<%= link_to 'Create New Character', new_character_path %>

<br>

<%= render partial: "character_cards", locals: {characters: @characters} %>
