@import 'toastr';
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@100;300;400;700&display=swap');

:root {
  --primary-font: 'Montserrat', sans-serif;
  --secondary-font: 'Lato', sans-serif;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

* {
  font-family: var(--secondary-font);
}

// GLOBAL ELEMENT STYLES

// GLOBAL CLASS STYLES
.bold {
  font-weight: bold;
 }

 .italic {
  font-style: italic;
 }

 .underline {
  text-decoration: underline;
 }

 .hide {
  height: 0;
  width: 0;
  visibility: hidden;
  opacity: 0;
}