<% content_for :title, "Search Board | Discover D&D Characters looking to create new relationships" %>

<div class="container">
  <h1>Search Board</h1> 
  <p><span><i class="fas fa-sign" role="img" aria-label="Icon"></i></span> Characters looking to build social connections.</p>
  
  <div class="row row-cols-lg-2">
    <%= render partial: "characters/character_cards", locals: {characters: @characters, search: true} %>
  </div>
</div>