<!-- <% if 1 %>
  <p>"unknown human picture" used as Charcater Sillhouette by Badrelmers / <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC BY-SA 4.0</a>, <a src="https://en.wikipedia.org/wiki/File:Unknown-human-picture.png">via Wikimedia Commons</a></p>
<% end %> -->

<p>Footer</p>
<i class="fab fa-github github-color" role="img" aria-label="Github Icon"></i>
<i class="fab fa-discord discord-color" role="img" aria-label="Discord Icon"></i>

