<% if 1 %>
  <p>"unknown human picture" used as Charcater Sillhouette by Badrelmers / <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC BY-SA 4.0</a>, <a src="https://en.wikipedia.org/wiki/File:Unknown-human-picture.png">via Wikimedia Commons</a></p>
<% end %>