<!-- <% if 1 %>
  <p>"unknown human picture" used as Charcater Sillhouette by Badrelmers / <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC BY-SA 4.0</a>, <a src="https://en.wikipedia.org/wiki/File:Unknown-human-picture.png">via Wikimedia Commons</a></p>
<% end %> -->

<footer>Footer
  <div id="footer-socials">
    <a href="http://www.github.com/theIanMilan">
      <i class="fab fa-github github-color" role="img" aria-label="Github Icon"></i>
    </a>
    <a href="#">
      <i class="fab fa-discord discord-color" role="img" aria-label="Discord Icon"></i>
    </a>
  </div>

  <div id="footer-fancontent-policy">Character Archiver is unofficial Fan Content 
  permitted under the Fan Content Policy. This website is not approved or endorsed by Wizards. 
  Portions of the materials used are property of Wizards of the Coast. © Wizards of the Coast LLC.</div>

  <div id="footer-copyright">2021 © Copyright theIanMilan</div>
</footer>